body {
    font-family: rubik, Helvetica, Arial, sans-serif;
}

.inputLabel {
    font-size  : 1.25em;
    font-weight: 500;
    color      : #005f73;
}

input[type=checkbox] {
    margin-right: 12 px;
    transform   : scale(1.5);
}

/* color palette*/
.colors {

    /* Primary - #0a9396 */
    color: #005f73;
    /* Primary Varient - #005f73 */
    color: #0a9396;
    /* Secondary - #ca6702 */
    color: #ca6702;
    /* Secondary Variant - #ee9b00  */
    color: #ee9b00;

    /* Background - #F1FAEE  */
    color: #F1FAEE;
    /* Error - #ae2012 */
    color: #ae2012;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.0rem;
}

.sourcenode {
    fill: green;
}

.targetnode {
    fill: red;
}

.node {
    fill: #005f73;
}